<Context>
    <Resource
            name="jdbc/postgres"
            auth="Container"
            type="javax.sql.DataSource"
            driverClassName="org.postgresql.Driver"
            url="jdbc:postgresql://db:5432/labjava"
            username="postgres"
            password="0419"
            maxTotal="20"
            maxIdle="10"
            maxWaitMillis="-1"
    />
</Context>

